@{
    DeSjoerd.Competition.Models.ObjectiveResultPart objectiveResult = Model.ObjectiveResultPart;
    DeSjoerd.Competition.Models.TeamPart team = Model.TeamPart;
}

<ul class="pageStatus">
    <li>&nbsp;&#124;&nbsp;@team.Title: @objectiveResult.Points@T("Pts")</li>
</ul>